.DS_Store
*.log
.vscode

# Ignore batch CSV files
apptainer-ollama/results/deepseek-r1_7b/batches/analysis_full_batch_* 2.csv
apptainer-ollama/results/deepseek-r1_8b/batches/analysis_full_batch_* 2.csv

# Ignore large data files
*.csv.gz
*.csv.xz
*.csv.bz2

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg